In [6]:
import os
import alpaca_trade_api as tradeapi
import pandas as pd
import datetime
pd.options.display.max_rows = 999

# set url for paper or live environment
# initialize API object with keys for paper or live account
os.environ["APCA_API_BASE_URL"] = "https://paper-api.alpaca.markets"
api = tradeapi.REST('PK5S94NMW8O14WQPAKIT','CHOxjFZZlwOz8s5lNRs0LzeQew5bk63ZMrorCB7h', api_version='v2')

# os.environ["APCA_API_BASE_URL"] = "https://api.alpaca.markets"
# api = tradeapi.REST('AK0VTEBWNFYQ0BCJBX94','2urhwGPA43St1QaLU5V4AkaSUov7SGYa4kmy8GeZ', api_version='v2')

# data = api.get_portfolio_history(period='2500D', timeframe='1D').df.reset_index().iloc[0:-1,]
data = api.get_portfolio_history(period='2500D', timeframe='1D').df.reset_index()


data['lagged_equity'] = data.equity.shift(1)
data['pct_change'] = data.profit_loss / data.lagged_equity

# filter by date if desired
dateFilter = '2021-01-19'
data = data[data.timestamp >= dateFilter].reset_index(drop=True)

print(data.timestamp.iloc[-1])

2021-08-27 09:30:00-04:00

In [5]:

sp500 = api.get_barset('SPY', 'day', 1000)['SPY'].df
sp500

                             open     high       low   close    volume
time
2017-09-08 00:00:00-04:00  246.53  247.110  246.3000  246.55  39326387
2017-09-11 00:00:00-04:00  248.04  249.300  248.0200  249.17  48756933
2017-09-12 00:00:00-04:00  249.63  250.070  249.4200  250.07  42765330
2017-09-13 00:00:00-04:00  249.73  250.210  249.5900  250.18  30812116
2017-09-14 00:00:00-04:00  249.79  250.320  249.6000  250.10  40831958
...                           ...      ...       ...     ...       ...
2021-08-23 00:00:00-04:00  445.16  448.230  443.4355  447.26  49349485
2021-08-24 00:00:00-04:00  447.97  448.540  447.4200  447.95  33180117
2021-08-25 00:00:00-04:00  448.17  449.457  447.7700  448.88  35262175
2021-08-26 00:00:00-04:00  448.61  448.860  446.1600  446.27  53455704
2021-08-27 00:00:00-04:00  447.12  450.650  447.0600  450.19  54848833

[1000 rows x 5 columns]